@font-face{
	font-family: Catorze27style1;
	font-style: normal;
	src: url(../fonts/Catorze27style1.ttf);
	/* download font */
	font-display: swap;
}

/* card */

.card__info{
	margin: 0 50px 15px 50px;
	padding: 10px;
	text-align: center;
	border: 1.5px dashed #5EBEBE;
	border-radius: 10px;
	background-color: #FFFFFF;
}

@media (max-width: 991px){
	.card__info{
		margin: 0 15px 15px 15px;
	}
}

.card__info--strong{
	display: inline-block;
	font-weight: bold;
}

@media(min-width:568px){
	.preview{
		width: 600px;
	}
}

.preview{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card__img{
	width: 130px;
	height: 130px;
	margin: 20px 0 15px 0;
}

.preview__title{
	margin: 0 0 15px 0;
	font-size: 1.5em;
	text-align: center;
	color: #495057;
}

.preview__paragraph{
	margin: 0 0 3px 0;
	text-indent: 15px;
	text-align: justify;
}

.card__link{
	margin: 0 0 100px 0;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #5EBEBE;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.card__link:hover{
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}